body { background-color: #3d3c3a ; font-family: garamond; text-align: center;}
h1, h2, h3, h4, h5, h6 { color: #f7bb4a; text-align: center;}
ul, ol {color: white;}
a:link {
  color:  #f3c052;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #827f7d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffca58;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(226, 174, 31);
  background-color: transparent;
  text-decoration: none;
}
p { color: white; background-color: none; text-align: center;}
