body { background-color: #302f2e ; font-family: garamond; }
h1, h2, h3, h4, h5, h6 { color: #f7bb4a;}
ul, ol {color: white;}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #827f7d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #f2c89d;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
p { color: white; background-color:#333333;}
